# Ignore build artifacts and binaries
*.o
*.out
*.exe
*.so
*.a
*.dll

# Ignore compiled GUI binaries
file_sign_gui
file_sign_gui.o

# Ignore key files
private.key
public.key


# Ignore binary executables
bin/
file_sign_gui

# Ignore other OS or editor-specific files
*~
.DS_Store
Thumbs.db
